/* styles_FAQ.css ���Ͽ� �߰��Ǵ� ��Ÿ�ϵ� */

.faq-container {
    text-align: left;
  }
  
  h1 {
    margin-top: 20px;
    margin-bottom: 20px; /* h1 �ؿ� ���� �߰� */
    text-align: center; /* ���� �߾� ���� �߰� */
    color: #fff; /* �ؽ�Ʈ ������ ������� ���� */
    font-size: 2em; /* ���� ũ�⸦ ũ�� ���� (2em�� �⺻ ũ���� 2��) */
  }
  
  .question {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff; /* ���� �ڽ��� ������ ������� ���� */
    border-radius: 8px;
    cursor: pointer;
    flex-direction: column;
    margin-left: 20%; /* ���� ���� �߰� */
    margin-right: 20%; /* ������ ���� �߰� */
  }
  
  .question p {
    margin-left: 10px; /* ���� ������ ���� ���� �߰� */
    display: inline; /* ������ �ζ��� ��ҷ� ���� */
  }
  
  .answer {
    padding: 10px;
    margin-top: 10px;
    background-color: #fff; /* �亯 �ڽ��� ������ ������� ���� */
    margin-left: 20px; /* �亯 ���� ���� �߰� */
    display : none;
  }
  
  /* Q.�� A.�� ���� ���� ��Ÿ�� */
  .question::before{
    content: 'Q. ';
    color: #3498db; /* �Ķ������� ���� */
    margin-right: 5px; /* A.�� �亯 ������ ���� ���� */
    font-weight: bold;
    font-size: 1.3em
  }
  
  .answer::before {
    content: 'A. ';
    color: #e74c3c; /* ���������� ���� */
    margin-right: 5px; /* A.�� �亯 ������ ���� ���� */
    font-weight: bold;
    font-size: 1.2em
  }
  